*{
    margin: 0px;
    padding: 0px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(2,200px);
    justify-content: center;
    /* align-items: center; */
    margin-top: 150px;
}
.box{
    margin: 20px;
}
.box-item1{
    background-color: red;
    border-start-start-radius: 15px;
    box-shadow: 0 40px 40px ;
    background-image: url();
}
.box-item2{
    background-color: black;
    box-shadow: 0 40px 40px ;

}
.box-item3{
    background-color: blue;
    border-start-end-radius: 15px;
    box-shadow: 0 40px 40px ;


}
.box-item4{
    background-color: green;
    border-radius:0 0 0 15px ;
    box-shadow: 0 40px 40px ;

}
.box-item5{
    background-color: yellowgreen;
    box-shadow: 0 40px 40px ;

}
.box-item6{
    background-color: navy;
    border-radius:0 0 15px 0 ;
    box-shadow: 0 40px 40px ;
}
.box:hover{
    background-color: aqua;
    height: 150px;
    width: 150px;
    box-shadow: none;
}